# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
node_modules/
.next
.next/*
dist/
dist/*
build/
.cache/
yarn-error.log
.idea/
.vscode/

temp/

.env
.env.*

dump.rdb
*.log
yarn-debug.log*
yarn-error.log*
images/

*.db
development.*
development.db

/config
config/*
/config/*

packages/common/data/*
packages/api/src/SQL/*
packages/api/src/src/SQL
packages/api/src/SQL
