.container {
  text-align: center;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  .article {
    font-family: 'Proxima nova', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 12px;
    text-transform: none;
    color: #808080;
    padding: 0.85rem;

    &::before {
      content: ' ';
      border-bottom: 1px solid #000;
    }
  }

  .header {
    margin: 0.5rem;
    font-size: 36px;
    font-family: 'Proxima nova', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 37px;
    text-transform: uppercase;
    color: #4d4d4d;
  }
  .subHeader {
    margin: 0.5rem;
    font-size: 14px;
    font-family: 'Proxima nova', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: none;
    color: #808080;
  }

  .link {
    margin-top: 3rem;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 11px;
    text-transform: uppercase;
    color: #6d6d6d;
  }
}
