.container {
  position: relative;
  height: 65px;
  margin: 1.25rem 4rem;
  padding: 1rem;
}

.item {
  font-family: 'Proxima nova', sans-serif;
  font-size: 24px !important;
  color: #4d4d4d !important;
  padding: 1rem;
  text-decoration: none !important;
  font-weight: 600;
}
