.container {
  text-align: center;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.link {
  margin: 2rem;
  padding: 0.25rem;
  font-family: 'Proxima nova', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: normal;
  text-decoration: underline;
  line-height: 21px;
  //   border-bottom: 1.5px solid #000;
  color: #808080;
}
